<div class="card bg-dark text-white" style="width: 50%; margin: 10px auto">
  <div class="card-header text-center">
    <h3>{{titulo}}</h3>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item"><strong>Nombre: </strong>{{cliente.nombre}}</li>
      <li class="list-group-item"><strong>Apellidos: </strong>{{cliente.apellidos}}</li>
      <li class="list-group-item"><strong>Email: </strong>{{cliente.email}}</li>
      <li class="list-group-item"><strong>Compras: </strong></li>
      <div *ngIf="!hayCompras">
        <li class="list-group-item">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No hay ninguna compra realizada.
        </li>
      </div>
      <div *ngIf="compras.length>0">
        <li *ngFor="let compra of compras" class="list-group-item">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Compra {{compra.id}}, realizada el {{compra.fecha}}
        </li>
      </div>

    </ul>
  </div>
</div>

